body{
    background: #a8a2a2;
}
h1{
    text-align: center;
    color: #000000;
    text-decoration: underline;
}
.container{
    width: 400px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}
#taskInput{
    width: 60%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    display: block;
}
#addTaskButton, #deleteTaskButton{
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    bottom: 2px;
    left: 250px;
}
.taskText {
    flex: 1;
}
.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}