body{
    background: #a8a2a2;
}
h1{
    text-align: center;
    color: #000000;
    text-decoration: underline;
}
.container{
    width: 420px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}
#taskInput{
    width: 60%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    display: block;
}